@lost gutter 0px;
@require '/require/_var.styl'

#oops
	opacity 0
	animation-fill-mode both
	text-align center
	overflow hidden
	main
		position: relative
		display: block
		height auto
		width 100%
		vCenter()
		margin 0px auto
		.box
			position: relative
			display: block
			vCenter()
			hCenter()
			width: 500px
			margin 0px auto
			.title
				position relative
				Title()
				transform translateY(0px)
			.content
				position relative
				display block
				padding 20px 0
				Content()
				font-weight 300
				font-size 16px
			a
				Link()
				font-size 16px














