@lost gutter 0px;
@require '/require/_var.styl'
@require '/require/_reset.styl'


// global-reset()
// nested-reset()

rupture.enable-em-breakpoints = true

body
	background: #fff
	width 100%
	height 100%
	font-size 100%
	letter-spacing 1px
	-webkit-overflow-scrolling: touch;

*
	font-family 'Helvetica Neue','PingFang TC', 'core-c', 'Helvetica','Arial', sans-serif

.disable-hover, .disable-hover *
	pointer-events none !important


h2
	font-size 2.6rem
	letter-spacing 3px
	line-height 70px
	font-weight 100
	+below(880px)
		font-size 2rem
		line-height 40px
	
::selection
	background $lightred
	color $white
::-o-selection
	background $lightred
	color $white
::-moz-selection
	background $lightred
	color $white
::-webkit-selection
	background $lightred
	color $white

.page
	width 100%
	height auto
	position relative
	overflow-x hidden


@import '/require/_animate.styl'
@import '/layout/_footer.styl'
@import '/layout/_nav.styl'
@import '/layout/_scrolltop.styl'


