@lost gutter 0px;
@require '/require/_var.styl'

#saihu
	opacity 0
	animation-fill-mode both
	text-align center
	padding-top 200px
	header
		position: relative
		display: block
		width 800px
		height auto
		margin 0px auto
		.title
			position relative
			font-weight 100
			font-family 'core-c', sans-serif
			font-size 72px
			line-height 80px
			letter-spacing 0px
		.content
			position: relative
			Content()
			font-style italic
			color $deepgrey
			padding 20px
			
	#loginbox
		position: relative
		display: block
		width 800px
		height auto
		margin 0px auto
		margin-top 20px
		.box
			position: relative
			display: block
			width 100%
			padding 0 50px
			.inputBox
				position: relative
				width 100%
			input
				position: relative
				display: inline-block
				width 200px
				padding 16px 2px
				border 0
				border-bottom 1px solid $darkgrey
				font-size 14px
				letter-spacing 1px
				&:focus
					border 0
					box-shadow 0
					outline 0
					border-bottom 1px solid $deepgrey
			#loginbutton
				position: relative
				display: inline-block
				Button()
				margin-top 50px
				transition background 0.24s ease-in-out 0s, box-shadow 0.34s ease-in-out 0s
				background $link
				&:hover
					box-shadow 0px 20px 100px alpha($grey, 30%)
					background darken($link, 10%)



