footer
	position: relative
	display: block
	lost-center 100%
	background: $lightgrey
	text-align center
	padding 80px 0
	p
		position: relative
		display: inline-block
		font-size 0.8rem
		font-weight 300
		color $grey
		line-height 30px
		// transform translateY(-5px)
		margin-right 30px
		a
			color $darkgrey
			text-decoration underline
	.fb-share
		position: relative
		height 30px
		top 5px
		display: inline-block
	.twitter-share
		position: relative
		height 30px
		top 5px
		display: inline-block
		margin-right 30px
	+below(880px)
		padding 50px
	+below(480px)
		padding 30px
		p
			display: block
			width 100%
			text-align center
			padding-bottom 10px
			margin-top 10px
		.fb-share
			margin 0
		.twitter-share
			margin-right 20px