nav
	position fixed
	left 0
	top 0
	width 100vw
	height 100px
	opacity 0
	transform translateY(0px)
	// font-family core-c, sans-serif
	transition all 0.27s ease-in-out 0s
	animation-delay 0.5s
	overflow hidden
	lost-utility clearfix
	z-index 99
	+below(480px)
		.name
			display none
		.button
			margin-right 10px
			margin-top 0px
			&::before, &::after
				content ''
		&.navScroll
			background alpha($white, 85%)
	
	.name
		position relative
		display block
		float left
		width auto
		height 100%
		margin-left 40px
		.homelink
			position relative
			display inline-block
			padding 30px 10px 0px
			line-height 2.5rem
			font-weight 200
			font-size 1.3rem
			text-decoration none
			color $darkgrey
			letter-spacing 2px
			transition color 0.27s ease-in-out 0s, letter-spacing 0.27s ease-in-out 0s
			strong
				font-weight 500
			&:hover
				letter-spacing 1px
				color $black
		.myTitle
			padding 0px 10px
			color $darkgrey
			font-size 1rem
			font-weight 200
			letter-spacing 1px
			transition color 0.27s ease-in-out 0s

	// .button
	// 	position relative
	// 	display block
	// 	width 50px
	// 	height 50px
	// 	float right
	// 	margin-right 40px
	// 	margin-top 25px
	// 	transition margin 0.27s ease-in-out 0s
	// 	&::before, &::after
	// 		content 'MENU'
	// 		position absolute
	// 		top 20px
	// 		right 70px
	// 		font-size 0.9rem
	// 		font-weight 600
	// 		letter-spacing 2px
	// 		color $darkgrey
	// 		transition all 0.27s ease-in-out 0s
	// 		opacity 1
	// 	&::after
	// 		content 'CLOSE'
	// 		opacity 0
		
	// 	&:hover
	// 		&::after, &:before
	// 			letter-spacing 4px
	// 		.line
	// 			width 40px
	// 			&::after, &::before
	// 				background $black
	// 	.line
	// 		position absolute
	// 		right 15px
	// 		top 25px
	// 		width 30px
	// 		height 1px
	// 		background black
	// 		transition all 0.27s ease-in-out 0s
	// 		&::after, &::before
	// 			content ''
	// 			position absolute
	// 			top 0
	// 			right 0
	// 			width 15px
	// 			height 1px
	// 			background black
	// 			transition all 0.27s ease-in-out 0s
	// 		&::after
	// 			background $grey
	// 			top -7px
	// 		&::before
	// 			background $darkgrey
	// 			width 13px
	// 			top 7px

	// 	&.active
	// 		&::before
	// 			opacity 0
	// 		&::after
	// 			opacity 1
	// 		&:hover
	// 			.line
	// 				&::after, &::before
	// 					background $black
				
	// 		.line
	// 			background transparent
	// 			&::after
	// 				width 30px
	// 				transform rotate(45deg)
	// 				top 0
	// 			&::before
	// 				width 30px
	// 				top 0
	// 				transform rotate(-45deg)
		
	&.navScroll
		height 60px
		background alpha($white, 95%)
		.name
			.homelink
				padding 12px 10px
		.button
			margin-top 5px












