nav.page-intro(data-animsition-in-class="nav-in",data-animsition-out-class='nav-out',data-animsition-in-duration='1200')
	.name
		a.backlink.animsition-link(href="#", onclick='history.go(-1)') 
			| BACK
