nav.page-intro(data-animsition-in-class="nav-in",data-animsition-out-class='nav-out',data-animsition-in-duration='1200')
	.name
		a.homelink.animsition-link(href="/") 
			| CELYN 
			strong XIE
		p.myTitle A Designer & Developer.
	//- .button
		.line
