//- nav.page-intro(data-animsition-in-class="fade-in",data-animsition-out-class='nav-out',data-animsition-in-duration='1000')
//- 	a(href="/").logo
//- 		img(src="lib/image/Logo.png", alt="brand logo")
//- 		h2 Sketch Guides
//- 	a(href="https://github.com/luvmex/Sketch-Guides/archive/master.zip", download='SketchGuides').navDownload Download Plugin
