<!DOCTYPE html>
html(lang="en")
	head
		include _meta.jade
		link(rel="stylesheet", href="./lib/css/resize.css")
		link(rel="stylesheet", href="./lib/css/fa/css/fa-min.css")
		link(rel="stylesheet", href="./css/css.css")
		block meta
			title Layout Template.
			
	body
		include _lorem-mixin.jade

		block content

		block footer

		block script