//- <!-- <!DOCTYPE html> -->
html(lang="en")
	head
		include import/_meta.jade
		title About Celyn
		link(rel="stylesheet", href="./css/about.css")
		script(src='./js/js.js')

	body
		include include/_goback.jade

		#about.page.page-intro(data-animsition-in-class='fade-in',data-animsition-out-class='fade-out',data-animsition-in-duration='1000')
			header.fullHeight
				.headerInfo
					h2.title Celyn Xie
					p.content “ I link form and content. ”
				.headerLeft
				.headerRight

				a(href="#main", id='scrolldown')
					.scrollline

			main#main
				.infoBox
					.info
						h2 About me
						span Designer + Developer in Taiwan
						p I’m a self-taught multidisciplinary designer began in startup. always defined reason behind the design I create. And bring design into life, experience better.
						p Focus on UI/UX and Product Design for multiple device between web and mobile. To expand the design limitation and clear communication, I have develop experience to through the way of design thinking and programming logic. It’s helping in create affordance to design.
				.workBox
					.quote
					.info
						.box
							p.group Coo.p
							p.position UI/UX Designer
							p.located Taiwan, Tainan
							p.timing 2012,03 - 2014,06
						.box
							p.group Saihu
							p.position Lead Designer
							p.located China, Xiamen
							p.timing 2014,10 - 2016,01
						.box
							p.group.current Rakuten
							p.position.current Product Designer
							p.located.current Taiwan, Taipei
							p.timing.current 2016,01 - Current Now
			include include/_footer.jade
			#scrolltop
				.scrolllineup
